.p_style{
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
}

.card {
    background-color: #f0f0f0 !important; /* Цвет фона карточки */
    border: 1px solid #ccc !important; /* Граница карточки */
    box-sizing: border-box !important; /* Учитывать границы и отступы в ширине */
    flex: 1 1 calc(33.33% - 10px) !important; /* Основная ширина карточки, позволяет 3 карточкам быть в ряду */
    min-width: 16rem !important; /* Минимальная ширина карточки */
    max-width: 1fr !important; /* Максимальная ширина карточки */
}

@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(50% - 10px); /* Две карточки в ряду при уменьшении размера окна */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* Одна карточка в ряду при дальнейшем уменьшении размера окна */
    }
}